<!DOCTYPE html>
<html>
  <body>
  	<%= render 'layouts/rails_default' %>
  	<%= render 'layouts/header' %> <!-- this partial is for the navbar -->
  	<div class="container">
  	  <%= yield %>
    <hr/>
	  <%= link_to image_tag("rails.png", alt: "Rails Logo"), 'http://rubyonrails.org' %>
	  <%= image_tag("mog.png", alt: "Moogle", size: "37x49", class: "mog") %>
    <hr/>
  	<%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  	</div>
  </body>
</html>
<!-- so this file holds they layout that every page in the application will use. In order to DRY up code, we can use this to set up the layout for every page in the application. This is just me thinking here, but we may be able to use it for top and bottom portions / navigation bar / etc -->